* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}

header {
  display: flex;
  padding: 1.5rem;
  text-transform: uppercase;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  left: 1rem;
  color: white;
  gap: 2rem;
}

div a {
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  color: white;
}

div a:hover {
  text-decoration: underline;
}
