* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}
/* header */
header {
  display: flex;
  padding: 1.5rem;
  text-transform: uppercase;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  left: 1rem;
  color: white;
  gap: 2rem;
  z-index: 1;
}

header a {
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  color: white;
  letter-spacing: 1px;
}

header a:hover {
  text-decoration: underline;
}

/* section 1  */
.section1 {
  background-image: url(./image.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.home {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
  gap: 0.5rem;
  text-align: left;
  width: 20%;
  color: white;
}
.home a {
  border: 1px solid white;
  padding: 1rem;
  width: 15rem;
  text-decoration: none;
  color: white;
}
.home a:hover {
  background-color: white;
  color: black;
}

/* section 2 */
.section2 {
  background-image: url(./image2.webp);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.destinations {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
  gap: 0.5rem;
  color: white;
  text-align: left;
  width: 20%;
}
.destinations a {
  border: 1px solid white;
  padding: 1rem;
  width: 15rem;
  text-decoration: none;
  color: white;
}
.destinations a:hover {
  background-color: white;
  color: black;
}

/* section 3 */

.section3 {
  background-image: url(./image3.webp);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.services {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
  gap: 0.5rem;
  color: white;
  text-align: left;
  width: 20%;
}
.services a {
  border: 1px solid white;
  padding: 1rem;
  width: 15rem;
  text-decoration: none;
  color: white;
}
.services a:hover {
  background-color: white;
  color: black;
}
