* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
}
/* header */
header {
  display: flex;
  padding: 1.5rem;
  text-transform: uppercase;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  left: 1rem;
  color: rgba(255, 255, 255, 0.858);
  gap: 2rem;
  z-index: 2;
}

header a {
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  color: white;
  letter-spacing: 1px;
}

header a:hover {
  text-decoration: underline;
}

/* main section */
.section1 {
  background-image: url(./image.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}
.section2 {
  background-image: url(./image4.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}
.section3 {
  background-image: url(./image5.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}
main div {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  letter-spacing: 1px;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
  gap: 0.5rem;
  text-align: left;
  width: 20%;
  color: white;
}
main div a {
  border: 1px solid white;
  padding: 1rem;
  width: 15rem;
  text-decoration: none;
  color: white;
}
main div a:hover {
  background-color: white;
  color: black;
}

/* footer */
